* {
	padding: 0;
	margin: 0;
}

html, body {
	height: 100%;
}

p, h1, h2, h3, h4, h5, h6, hr, article, main, header, time {
	margin-bottom: 	10px;
}

header {
	border-bottom: 1px #eee solid;
	padding-bottom: 10px;
}

article {
	padding-bottom: 10px;
	border-bottom: 1px #eee solid;
}